<%= link_to category do %>
  <div id="<%= dom_id category %>" class = "category_body">
  
    <div  class='gray lighten-5 z-depth-5'  style="display:flex; align-items:center ; gap:5px; padding:0px 10px 0px 10px">
  
    <div style="height:10vh; width:10vh; overflow: hidden">
    <img src="<%= category.icon %>" alt='Category icon' />
    </div>
    <div class="">

    <div style="display:flex; align-items:center ; gap:20vw">
      <h5 ><%= category.name %></h5>
      <h5 "><%= category.transactions.sum(:amount) %>$</h5>
    </div>

    <div>
      <p><%= category.created_at.strftime("%d-%b-%Y")%></p>
    </div>
 
    </div>
 
    </div>

  </div>
<% end %>



