<%= link_to category do %>
  <div id="<%= dom_id category %>" class = "category_body">
  
    <div>
    <div  class='row grey lighten-5 z-depth-5'>
    <img src="<%= category.icon %>" alt='Category icon' class="col s5 " />
      <h5  class="flow-tex"><%= category.name %></h5>
      <p class="col s5"><%= category.created_at.strftime("%d-%b-%Y")%></p>
      <h3  class=" flow-text"><%= category.transactions.sum(:amount) %>$</h3>
 
    </div>
 
    </div>

  </div>
<% end %>



